*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "poppins",sans-serif ;
    background-image: linear-gradient(to right, rgb(28, 20, 73) , rgb(180, 166, 241))
}

.navbar .navbar-nav {
    margin-left: 55rem;
 }
 
.listimg{
    width: 50 px;
    height: 50px;
}

.modal-body{
    border-radius: 10px;
}